apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: envoy
  template:
    metadata:
      labels:
        app: envoy
    spec:
      containers:
        - name: envoy
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: ["-c", "/etc/envoy/envoy.yaml"]
          ports:
            - containerPort: {{ .Values.service.port }}
          volumeMounts:
            - name: envoy-config
              mountPath: /etc/envoy/envoy.yaml
              subPath: envoy.yaml
      volumes:
        - name: envoy-config
          configMap:
            name: envoy-config